<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dpit2020navem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".Help.HelpActivity" />
        <activity android:name=".UvcInfo.UvcInfoActivity" />
        <activity android:name=".ObjectTypeDetailes.ObjectTypeDetailesActivity" />
        <activity android:name=".OwnedObjectsList.OwnedObjectsListActivity" />
        <activity android:name=".AddAnObject.Activity.ObjectMenuActivity" />
        <activity android:name=".AddAnObject.Activity.ObjectTypeMenuActivity" />
        <activity
            android:name=".Intro.WelcomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Intro.IntroActivity" />
        <activity android:name=".HomePage.MainActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".Bluetooth.BluetoothService" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>